.main-product-container{
  text-align: center;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.search-btn{
  margin-right: 10px;
}

.search-icon{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.searchbar{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product-img{
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0px;
}

.product-container{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.input-field{
  height: 30px;
  width: 200px;
  margin-left: 10px;
  margin-right: 5px;
  outline: none;
}

.select-field{
  height: 30px;
  width: 175px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 5px;
  outline: none;
}

.products-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
