.main-product-container{
  text-align: center;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-btn{
  margin-right: 10px;
}

.search-icon{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.searchbar{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heading{
  font-family: Pasajero;
  color: #F2F2F2;
  background: #333;
  width: 15%;
  margin: auto;
  padding: 10px;
}

.product-img{
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0px;
}

.product-container{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.input-field{
  height: 30px;
  width: 200px;
  margin-left: 10px;
  margin-right: 5px;
  outline: none;
}

.select-field{
  height: 30px;
  width: 175px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 5px;
  outline: none;
  font-family: Montserrat;
}

.select-field option{
  font-family: Montserrat;
}

.products-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1068px){
  .product-container{
    width: 300px;
    height: 300px;
  }

  .product-img{
    height: 150px;
    width: 150px;
    margin: 5px 0px;
  }

  .product-container p{
    font-size: 12px;
  }
}

@media (max-width: 800px){
  .heading{
    width: 40%;
  }

  .searchbar{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
}
