.detailed-main-container{
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
}

.detailed-main-container h1{
  font-family: Pasajero;
}

.detailed-main-container h2, h4{
  margin: 10px;
}

.detailed-main-body{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-display{
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detailed-left{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detailed-right{
  width: 51%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detailed-pic{
  margin: auto;
  min-height: 400px;
  min-width: 250px;
  max-height: 80%;
  max-width: 80%;
}

.detailed-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailed-desc{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.detailed-btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn{
  margin: 25px;
  margin-top: 5px;
}

@media (max-width: 968px){
  .detailed-main-body{
    margin-top: 100px;
  }

  .detailed-main-container h1{
    font-size: 18px;
  }

  .detailed-main-container h2, h4{
    font-size: 14px;
    margin: 5px;
  }

  .detailed-pic{
    max-height: 55%;
    max-width: 55%;
  }

  .detailed-desc{
    padding: 5px;
    font-size: 12px;
  }
}

@media (max-width: 528px){
  .product-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .detailed-left{
    width: 100%;
  }

  .detailed-right{
    width: 100%;
  }
}

@media (max-width: 420px){
  .product-main-container{
    height: 100vh;
  }

  .detailed-main-container h1{
    font-size: 16px;
    width: 80%;
    margin: auto;
  }

  .product-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .detailed-left{
    width: 100%;
  }

  .detailed-right{
    width: 100%;
  }

  .detailed-btns{
    margin-top: 25px;
    justify-content: space-around;
  }
}
