.cart-main-container{
  margin-top: 100px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.cart-main-container h1, h2{
  margin-left: 15px;
}

.cart-main-container h1{
  text-align: center;
}

.cart-body{
  min-height: 80vh;
}

.cart-list{
  height: 150px;
  width: 40vw;
  padding: 20px;
  margin: 25px;
}

.cart-list h3{
  display: inline-block;
}

.cart-list-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-pic{
  height: 40px;
  width: 40px;
}

.remove-icon{
  height: 30px;
  width: 30px;
  margin-bottom: 25px;
}

.checkout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

hr{
  width: 90%;
  color: grey;
}
