.cart-main-container{
  margin-top: 100px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.cart-main-container h1, h2{
  margin-left: 15px;
}

.cart-main-container h1{
  margin: auto;
  text-align: center;
}

.cart-body{
  min-height: 80vh;
}

.cart-list{
  /*height: 150px;*/
  max-height: 300px;
  width: 40vw;
  padding: 20px;
  margin: 25px;
  box-shadow: 10px 10px 5px #888888;
}

.cart-list h3{
  display: inline-block;
}

.cart-list-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-pic{
  height: 40px;
  width: 40px;
}

.cart-hr{
  width: 100%;
}

.remove-btn{
  height: 30px;
  width: 30px;
  margin-bottom: 25px;
  font-size: 14px;
  background: #FFF;
  color: #111;
  border-style: solid;
  border-color: #111;
  border-width: 1px;
  border-radius: 50%;
}

.remove-btn:hover{
  background: #555;
  color: #FFF;
  transition: all ease 0.6s;
}

.checkout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
