.home-container{
  background-image: url('../../images/waterfall.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width: 100%;
  margin:0;
  margin-top: 120px;
  font-size:16px;
  font-weight:400;
  line-height:1.8em;
  font-family: Pasajero;
}

/* Parallax Styling */
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url("../../images/waterfall.gif");
  min-height:100%;
}

.pimg2{
  background-image:url('../../images/waterfall.gif');
  min-height:450px;
}

.pimg3{
  background-image:url('../../images/waterfall.gif');
  min-height:450px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:white;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.section-dark{
  background-color:#111;
  color:#fff;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.light-text {
  color: #fff;
}
