.transparent{
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.nav-main{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  background: #FFF;
  opacity: 0.9;
  font-family: Pasajero;
  z-index: 1;
}

.nav-mid h3{
  color: #111;
}

.nav-logo{
  height: 80px;
  width: 80px;
  margin-top: 3px;
  padding: 0;
}

.nav-top{
  width: 33%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.nav-mid{
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom{
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.shopping-cart{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  padding: 0px;
}

.cart{
  display: flex;
  flex-direction: row;
}

a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a:hover {
  color: black;
}
a.before:before,
a.after:after {
  content: '';
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.before:before {
  top: -0.25em;
}
a.after:after {
  bottom: -0.25em;
}
a.before:before,
a.after:after {
  height: 1px;
  height: 0.15rem;
  width: 0;
  background: black;
}
a.first:after {
  left: 0;
}
a.second:after {
  right: 0;
}
a.third:after,
a.sixth:before,
a.sixth:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
a.fourth:before,
a.fourth:after {
  left: 0;
}
a.fifth:before,
a.fifth:after {
  right: 0;
}
a.seventh:before {
  right: 0;
}
a.seventh:after {
  left: 0;
}
a.eigth:before {
  left: 0;
}
a.eigth:after {
  right: 0;
}
a.before:hover:before,
a.after:hover:after {
  width: 100%;
}
